# GIT
alias gco="git checkout"
alias gpl="git pull --rebase"
alias gps="git push"
alias gcm="git commit -a -m"
alias gst="git status"
alias gap='git add -p'
alias gnap='git add -N . && git add -p'
alias ga='git add'
alias gb='git branch'
alias gc='git commit -v'
alias gca='git commit -a -v'
alias gd='git diff --color-words'
alias gdc='git diff --cached'
alias gdh='git diff HEAD'
alias gl='git pull'
alias glod='git log --graph --pretty="%cd %Cgreen%h%Creset%Cblue%d%Creset %Cred%an%Creset: %s" --date=short'
alias gp='git push'
alias gpr='git pull --rebase'
alias gst='git status'
alias gr='git rebase'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias gra='git rebase --abort'
alias gcp='git cherry-pick'

# TMUX
alias tml='tmux ls'
alias tmn='tmux new -s'
alias tma='tmux attach -t'
alias mux='tmuxinator'

# DIR
alias today="cd ~/Documents/Sync/notes && vim -O daily.md goals.md"
alias dot="cd ~/Code/dotfiles"
alias src="cd ~/Code"
alias aet="cd ~/Code/aetna"
alias sd="cd ~/Code/simple-donation/simpledonation"
alias sdp="cd ~/Code/simple-donation/simpledonation-prospects"
alias sp="cd ~/Code/prospex"
alias de="cd ~/Code/drip-emails"
alias dex="cd ~/Code/drip_emails"
alias todo="cd ~/Documents/Sync/notes/ && vim todo.md"
alias blog="cd ~/Code/taylorbrooksorg"
alias jnl="vim +'normal Go' +'r!date' ~/Documents/Sync/notes/journal.md"
alias drive="cd /Volumes/GoogleDrive/My\ Drive"
alias demo="cd ~/Simple\ Donation\ Dropbox/Simple\ Donation/Rock/rock_demo && open demo.pdf && vim demo.txt"

# HEROKU
alias hc="heroku run console"
alias hl="heroku logs -t"
alias pull_sd_db="dropdb simpledonation_development && heroku pg:pull DATABASE_URL simpledonation_development -a sdonation || true && be rake super_admin:set_local_pass"
alias load_db="pg_restore --verbose --clean --no-acl --no-owner -h localhost -U taylorbrooks -d simpledonation_development latest.dump"

# MAKE IT SO
alias mis="gps origin master && gps heroku master"

# MISC SHORTCUTS
alias be="bundle exec"
alias tailtail="tail -f ~/Library/Logs/puma-dev.log"
alias pca="RAILS_ENV=production be rake assets:precompile"
alias start_redis="cd /usr/local/Cellar/redis/2.2.12/bin && ./redis-server"
alias nom='npm cache verify && rm -rf node_modules && mkdir node_modules && touch node_modules/.metadata_never_index && touch node_modules/.nosync && npm install'
alias bom='bower cache clean && rm -rf bower_components && mkdir bower_components && touch bower_components/.metadata_never_index && touch node_modules/.nosync && bower install'

# SHELL
alias ll="ls -l"
alias la="ls -a"
alias lll="la -l"
alias md='mkdir -p'
alias rd='rmdir'
alias cd..='cd ..'
alias ..='cd ..'
alias psg='ps aux | grep'
alias h='history'
alias e='vim'
