# GIT
alias gco="git checkout"
alias gcm="git commit -a -m"
alias gst="git status"
alias gap='git add -p'
alias gnap='git add -N . && git add -p'
alias ga='git add'
alias gb='git branch'
alias gc='git commit -v'
alias gca='git commit -a -v'
alias gd='git diff --color-words'
alias gl='git pull'
alias glod='git log --graph --pretty="%cd %Cgreen%h%Creset%Cblue%d%Creset %Cred%an%Creset: %s" --date=short'
alias gp='git push'
alias gpr='git pull --rebase'
alias gst='git status'
alias gr='git rebase'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias gra='git rebase --abort'
alias gcp='git cherry-pick'

# TMUX
alias tml='tmux ls'
alias tmn='tmux new -s'
alias tma='tmux attach -t'

# DIR
alias icloud="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs"
alias ndir="icloud &&  cd 50\ -\ 59\ Notes"
alias index="icloud && cd 00\ -\ 09\ Meta/ && e 00\ Index.md"
alias today="ndir && e -O 51\ Personal/daily.md 51\ Personal/reminders.md"
alias src="cd ~/Code"
alias dot="src && cd dotfiles"
alias sd="src && cd simple-donation/simpledonation"
alias sdp="src && cd simple-donation/simpledonation-prospects"
alias rp="src && cd simple-donation/rock-plugin"
alias rock="src && cd Rock"
alias jnl="ndir && cd 51\ Personal && vim +'normal Go' +'r!date' journal.md"
alias drive="cd ~/Library/CloudStorage/GoogleDrive-taylor@simpledonation.com/My\ Drive/Simple\ Donation\ Shared && open ."

# HEROKU
alias hc="heroku run console"
alias hl="heroku logs -t"

get_backup() {
  if [ "$#" -eq 1 ]; then
    heroku pg:backups:capture -a "$1"
  else
    echo "No argument provided. Pass a Heroku application identifier as the first argument."
  fi
}

pull_db() {
  if [ "$#" -eq 1 ]; then
    heroku pg:backups:download -a "$1"
  else
    echo "No argument provided. Pass a Heroku application identifier as the first argument."
  fi
}

load_db() {
  if [ "$#" -eq 1 ]; then
    pg_restore --verbose --clean --no-acl --no-owner -h localhost -d "$1" latest.dump
  else
    echo "No argument provided. Pass the local db as the first argument."
  fi
}


# MAKE IT SO
alias mis="gp origin master && gp heroku master"

# MISC SHORTCUTS
alias be="bundle exec"
alias pca="NODE_ENV=production RAILS_ENV=production be rake assets:precompile"
alias start_redis="cd /usr/local/Cellar/redis/2.2.12/bin && ./redis-server"
alias nom='npm cache verify && rm -rf node_modules && mkdir node_modules && touch node_modules/.metadata_never_index && touch node_modules/.nosync && npm install'


# SHELL
alias ll="ls -l"
alias ..='cd ..'
alias h='history'
alias e='nvim'
